{{ "<!-- Any questions -->" | safeHTML }}
<section class="features-clean bg-light pb-0">
  <div class="container features-icons ">
    <div class="col-12 col-lg-8 mx-auto">
      <h2 class="text-center mb-5">Any questions?</h2>
    </div>
    <div class="row">
      <div class="row features text-center">
	<div class="col-lg-4 item"><div class="card">
	    <div class="card-body"><i class="fa fa-phone icon text-primary"></i>

	      <h5 class="card-title">Phone us</h5>
	      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus finibus finibus egestas. Cras ut justo urna</p>
        <a href="tel:{{ .Site.Params.phone }}" class="btn btn-primary mt-3">{{ .Site.Params.phone }}</a>
	    </div>
	  </div>
	</div>
	<div class="col-lg-4 item"><div class="card">
	    <div class="card-body"><i class="fa fa-envelope icon text-primary"></i>

	      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus finibus finibus egestas. Cras ut justo urna</p>
        <a href="mailto:{{ .Site.Params.email }}" class="btn btn-primary mt-3">Email us</a>
	    </div>
	  </div>
	</div>
	<div class="col-lg-4 item"><div class="card">
	    <div class="card-body"><i class="fa fa-map-marked-alt icon text-primary"></i>

	      <h5 class="card-title">Visit us</h5>
	      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus finibus finibus egestas. Cras ut justo urna</p>
	      <a href="https://goo.gl/maps/ze1F3q9gQP82" class="btn btn-primary mt-3">Visit us</a>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</section>
{{ "<!-- End Any questions -->" | safeHTML }}
