{{ "<!-- Any questions -->" | safeHTML }}
<div id="featuresSection" class="container">
  <!-- Heading -->
  <div class="text-center mx-md-auto mb-5">
    <h1 class="display-6">Any questions?</h1>
  </div>
  <!-- End Heading -->

  <div class="row gx-3">
    {{ range .Params.any_questions}}
    <div class="col-lg-4 p-3">
      <!-- Card -->
      <div class="card card-sm card-transition h-100">
        <div class="card-body">
          <span class="svg-icon text-primary text-center mb-3">
            {{.icon_svg | safeHTML}}
          </span>
          <h2 class="card-title text-center mb-3">{{.title}}</h2>
          <div class="card-text text-body">{{.description | markdownify}}</div>
          <div class="text-center pt-4 pb-2">
          <a href="{{.button_url | safeURL}}" class="btn btn-primary"><i class="{{.button_icon}} pe-3"></i>{{.button_text}}</a> 
          </div>
        </div>
      </div>
      <!-- End Card -->
    </div>
    <!-- End Col -->
    {{ end }}
  </div>
  <!-- End Row -->
</div>
{{ "<!-- End Any questions -->" | safeHTML }}
