{{ $cloudinaryOptions := "q_70,f_auto,e_sharpen" }}
{{ $imageBreakpoints := slice "576" "768" "992" "1200" "1600" "1920" }} 

{{ "<!-- Carousel -->" | safeHTML }}
<section id="carousel" class="bg-white">
    {{ $slides := .Params.carousel }}
<div id="carouselIndicators" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
            {{ range $key, $value := $slides }}
              {{ $active := "" }}
              {{ if eq $key 0 }}
                {{ $active = "active" }}
              {{ end }}
              <li data-target="#carouselIndicators" data-slide-to="{{ $key }}" class="{{ $active }}"></li>
            {{ end }}
          </ol>
  <div class="carousel-inner">
              {{ range $key, $value := $slides }}
            {{ $active := "" }}
            {{ if eq $key 0 }}
              {{ $active = "active" }}
            {{ end }}
            <div class="carousel-item {{ $active }}">
              <img class="d-block w-100" srcset="
               {{- range $i, $e := $imageBreakpoints -}}
               {{- if $i -}}, {{ end -}}
               {{ $.Site.Params.cloudinary_base_url }}/{{ $cloudinaryOptions }},w_{{ . }}{{ $value.src }} {{ . }}w{{ end }}" sizes="100vw" src="{{ $.Site.Params.cloudinary_base_url }}/{{ $cloudinaryOptions }},w_1600{{ .src}}" alt="{{ .title }}">
    </div>
    {{ end }}
  </div>
  <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</section>
{{ "<!-- End Carousel -->" | safeHTML }}
