<section class="collage bg-white">
  <!-- https://stackoverflow.com/questions/49362289/sizes-attribute-for-bootstrap-responsive-breakpoints
    <picture>
    <source srcset="https://acc02.mdbootstrap.com/img/Mockups/Horizontal/6-col/bootstrap-extra.jpg" media="(min-width: 1200px)" />
    <source srcset="https://acc02.mdbootstrap.com/img/Mockups/Horizontal/6-col/bootstrap-large.jpg" media="(min-width: 992px)" />
    <source srcset="https://acc02.mdbootstrap.com/img/Mockups/Horizontal/6-col/bootstrap-medium.jpg " media="(min-width: 768px)" />
    <source srcset="https://acc02.mdbootstrap.com/img/Mockups/Horizontal/6-col/bootstrap-small.jpg" media="(min-width: 576px)" />
    <img src="https://acc02.mdbootstrap.com/img/Mockups/Horizontal/6-col/bootstrap-extra-small.jpg" class="img-fluid" />
    </picture> -->
    <div class="container-fluid p-0">
      <div class="row no-gutters">
	<div class="col-md-6 col-lg-4 p-0"><a href="https://res.cloudinary.com/gqdmtaegmix3/image/upload/v1544840491/acps/20180810-090920.jpg"><img style="width: 100%; height:100%;" src="https://res.cloudinary.com/gqdmtaegmix3/image/upload/c_fill,g_auto,f_auto,w_600,h_400,e_sharpen/v1544840491/acps/20180810-090920.jpg"></a></div>
	<div class="col-md-6 col-lg-4 p-0"><a href="https://res.cloudinary.com/gqdmtaegmix3/image/upload/v1544835883/acps/20180527-080323.jpg"><img style="width: 100%; height:100%;" src="https://res.cloudinary.com/gqdmtaegmix3/image/upload/c_fill,g_auto,f_auto,w_600,h_400,e_sharpen/v1544835883/acps/20180527-080323.jpg"></a></div>
	<div class="col-md-6 col-lg-4 p-0"><a href="https://res.cloudinary.com/gqdmtaegmix3/image/upload/v1544840484/acps/20180810-093315.jpg"><img style="width: 100%; height:100%;" src="https://res.cloudinary.com/gqdmtaegmix3/image/upload/c_fill,g_auto,f_auto,w_600,h_400,e_sharpen/v1544840484/acps/20180810-093315.jpg"></a></div>
	<div class="col-md-6 col-lg-4 p-0"><a href="https://res.cloudinary.com/gqdmtaegmix3/image/upload/v1544840464/acps/20180810-094819.jpg"><img style="width: 100%; height:100%;" src="https://res.cloudinary.com/gqdmtaegmix3/image/upload/c_fill,g_auto,f_auto,w_600,h_400,e_sharpen/v1544840464/acps/20180810-094819.jpg"></a></div>
	<div class="col-md-6 col-lg-4 p-0"><a href="https://res.cloudinary.com/gqdmtaegmix3/image/upload/v1544836741/acps/20180526-083050.jpg"><img style="width: 100%; height:100%;" src="https://res.cloudinary.com/gqdmtaegmix3/image/upload/c_fill,g_auto,f_auto,w_600,h_400,e_sharpen/v1544836741/acps/20180526-083050.jpg"></a></div>
	<div class="col-md-6 col-lg-4 p-0"><a href="https://res.cloudinary.com/gqdmtaegmix3/image/upload/v1544840492/acps/20180810-094200.jpg"><img style="width: 100%; height:100%;" src="https://res.cloudinary.com/gqdmtaegmix3/image/upload/c_fill,g_auto,f_auto,w_600,h_400,e_sharpen/v1544840492/acps/20180810-094200.jpg"></a></div>
      </div>
    </div>
</section>
