{{ "<!-- Events & News -->" | safeHTML }}
<section id="events-news" class="mt-7">
  <div class="container-fluid p-0 my-0">
    <div class="row no-gutters">
      <div class="col-lg-6  order-lg-2 my-0 py-0" style="background-image: url('{{ .Site.Params.cloudinary_base_url }}/{{ $.Site.Params.front_page_transforms }},c_fill,g_auto,w_600{{ .Params.events_news_image_1 }}'); min-height:45rem; background-size: cover;"></div>
      <div class="col-lg-6 p-4 order-lg-1">
  <div class="text-center mx-md-auto mb-7">
    <h2 class="display-6">Upcoming events</h2>
  </div>
        {{- partial "upcoming-events.html" . -}}
      </div>
      <div class="col-lg-6 my-0 py-0 order-lg-3" style="background-image: url('{{ .Site.Params.cloudinary_base_url }}/{{ $.Site.Params.front_page_transforms }},c_fill,g_auto,w_600{{ .Params.events_news_image_2 }}'); min-height:45rem; background-size: cover;"></div>
      <div class="col-lg-6 p-4 order-lg-4">
  <div class="text-center mx-md-auto mb-7">
    <h2 class="display-6">Latest news</h2>
  </div>
        {{- partial "latest-news.html" . -}}
      </div>
    </div>
  </div>
</section>
{{ "<!-- End Events & News -->" | safeHTML }}
