{{ "<!-- Events & News -->" | safeHTML }}
<section id="events-news" class="bg-light">
  <div class="container-fluid p-0 m-0">
    <div class="row no-gutters">
      <div class="col-lg-6  order-lg-2 my-0 py-0" style="background-image: url('{{ .Site.Params.cloudinary_base_url }}/c_fill,g_auto,q_70,f_auto,w_600,e_sharpen{{ .Params.events_news_image_1 }}'); min-height:45rem; background-size: cover;"></div>
      <div class="col-lg-6 p-4 order-lg-1">
        <h2 class="text-center pt-4 pb-2">Upcoming events</h2>
        {{- partial "upcoming-events.html" . -}}
      </div>
      <div class="col-lg-6 my-0 py-0 order-lg-3" style="background-image: url('{{ .Site.Params.cloudinary_base_url }}/c_fill,g_auto,q_70,f_auto,w_600,e_sharpen{{ .Params.events_news_image_2 }}'); min-height:45rem; background-size: cover;"></div>
      <div class="col-lg-6 p-4 order-lg-4">
        <h2 class="text-center pt-4 pb-2">Latest news</h2>
        {{- partial "latest-news.html" . -}}
      </div>
    </div>
  </div>
</section>
{{ "<!-- End Events & News -->" | safeHTML }}
