<footer class="page-footer small text-white py-4 mt-5 bg-dark">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-3 mx-auto text-center pt-3">
        <img class="my-2" src="{{ $.Site.Params.cloudinary_base_url }}/logos/acps-logo-mark-reverse-rgb.svg" height="60" width="60" alt="Home" />
        <ul class="list-unstyled">
          <li class="mb-2">Learning with the community at<br /> Andersons Creek Primary School</li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-3 mx-auto text-center">
        <h6 class="my-3 text-white">Our values</h6>
        <ul class="list-unstyled">
          <li>Respect</li>
          <li>Optimism</li>
          <li>Honesty</li>
          <li>Responsibility</li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-3 mx-auto text-center">
        <h6 class="my-3 text-white">Contact us</h6>
        <address>
          <ul class="list-unstyled">
            <li class="mb-2">
              <a href="https://goo.gl/maps/bt97uRvLDCz2U5Yd8"><i class="fa fa-map-marker-alt mr-1"></i> 36-42 Drysdale Road<br />Warrandyte, VIC 3113</a>
            </li>
            <li class="mb-2">
              <a href="tel:03%209844%202757"><i class="bi bi-telephone pe-1"></i> 03 9844 2757</a>
            </li>
            <li>
              <a class="text-break" href="mailto:andersons.creek.ps@education.vic.gov.au"><i class="bi bi-envelope pe-1"></i> Email</a>
            </li>
          </ul>
        </address>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-3 mx-auto text-center">
        <h6 class="my-3 text-white">Quick links</h6>
        <ul class="list-unstyled">
          <li>
            <a href="/policies/child-safety-and-well-being/">Child safety and wellbeing</a>
          </li>
          <li>
            <a href="https://www.education.vic.gov.au/Pages/Schools-Privacy-Policy-information-for-parents.aspx" target="_blank">Privacy policy</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
