{{- $lazysizes := resources.Get "js/vendor/lazysizes.js" }}
{{- $lazy := $lazysizes | resources.Minify | resources.Fingerprint  }}
<script src="{{ $lazy.RelPermalink }}" integrity="{{ $lazy.Data.Integrity }}" async="" crossorigin="anonymous"></script>
{{- $jquery := resources.Get "js/vendor/jquery-3.3.1.slim.js" }}
{{- $popperjs := resources.Get "js/vendor/popper.js" }}
{{- $bootstrap := resources.Get "bootstrap/4.4.1/js/bootstrap.js" }}
{{- $js := slice $jquery $popperjs $bootstrap | resources.Concat "js/bundle.js" | resources.Minify | resources.Fingerprint  }}
<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" crossorigin="anonymous"></script>
