    <!-- Footer -->
    <footer class="page-footer small text-white py-4" style="background-color:#002d51;">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto text-center">

              <!-- Links -->
              <img class="my-2" src="https://res.cloudinary.com/gqdmtaegmix3/image/upload/v1531946979/acps/acps-logo-white.svg" height="60" width="60"alt="Home" />

              <ul class="list-unstyled">
                <li class="mb-2">Learning with the community at<br /> Andersons's Creek Primary School</li>
              </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto text-center">

              <!-- style="border-right: 1px solid #4576ba;"
              border-top: 2px solid #4576ba;
              border-top-width: 2px;
              border-top-style: solid;
              border-top-color: rgb(69, 118, 186); -->

              <!-- Links -->
              <h6 class="my-3">Our values</h6>

              <ul class="list-unstyled">
                <li>Respect</li>
                <li>Optimism</li>
                <li>Honesty</li>
                <li>Integrity</li>
              </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto text-center">

              <!-- Links -->
              <h6 class="my-3">Contact us</h6>

              <ul class="list-unstyled">
                <li class="mb-2">
                  <i class="fa fa-map-marker-alt mr-1"></i> 36-42 Drysdale Road<br />Warrandyte, VIC 3113
                </li>
                <li class="mb-2">
                  <i class="fa fa-phone mr-1"></i> +61 3 1234 5555
                </li>
                <li>
                  <i class="fa fa-envelope mr-1"></i> <a href="mailto:acps@acps.org">acps@acps.org</a>
                </li>
              </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto text-center">

              <!-- Links -->
              <h6 class="my-3">Quick links</h6>

              <ul class="list-unstyled">
                <li>
                  <a href="#">Child safety</a>
                </li>
                <li>
                  <a href="#">Code of conduct</a>
                </li>
                <li>
                  <a href="#">Privacy policy</a>
                </li>
                <li>
                  <a href="#">Site map</a>
                </li>
              </ul>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright
        <div class="footer-copyright text-center py-4" style="border-top: 1px solid #4576ba;">Anderson's Creek Primary School
        </div>
        Copyright -->

      </footer>
      <!-- Footer -->
