<!-- Footer -->
<footer class="page-footer small text-white py-4" style="background-color:#002d51;">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-3 mx-auto text-center">
        <img class="my-2" src="{{ $.Site.Params.cloudinary_base_url }}/logos/acps-logo-white.svg" height="60" width="60" alt="Home" />
        <ul class="list-unstyled">
          <li class="mb-2">Learning with the community at<br /> Andersons's Creek Primary School</li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-3 mx-auto text-center">
        <h6 class="my-3">Our values</h6>
        <ul class="list-unstyled">
          <li>Respect</li>
          <li>Optimism</li>
          <li>Honesty</li>
          <li>Integrity</li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-3 mx-auto text-center">
        <h6 class="my-3">Contact us</h6>
        <address>
          <ul class="list-unstyled">
            <li class="mb-2">
              <a href="{{ .Site.Params.mapLink }}"><i class="fa fa-map-marker-alt mr-1"></i> 36-42 Drysdale Road<br />Warrandyte, VIC 3113</a>
            </li>
            <li class="mb-2">
              <a href="tel:{{ .Site.Params.phone }}"><i class="fa fa-phone mr-1"></i> {{ .Site.Params.phone }}</a>
            </li>
            <li>
              <a href="mailto:{{ .Site.Params.email}}"><i class="fa fa-envelope mr-1"></i> {{ .Site.Params.email }}</a>
            </li>
          </ul>
        </address>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-3 mx-auto text-center">
        <h6 class="my-3">Quick links</h6>
        <ul class="list-unstyled">
          <li>
            <a href="/policies/child-safety/">Child safety</a>
          </li>
          <li>
            <a href="/policies/code-of-conduct/">Code of conduct</a>
          </li>
          <li>
            <a href="/policies/privacy-policy/">Privacy policy</a>
          </li>
          <li>
            <a href="/sitemap.html">Site map</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->
