<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{{ .Title }}{{ if .IsHome }} — {{ .Site.Title }}{{ end }}</title>
  {{ with .Site.Params.name }}<meta name="author" content="{{ . }}">{{ end }}
  <meta name="description" content="{{ if .Description }}{{ .Description }}{{ else if .IsPage }}{{ .Summary }}{{ else }}{{ .Site.Params.description }}{{ end }}">
  <meta name="keywords" content="{{ delimit .Keywords ", " }}">

  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ .Title }}{{ if .IsHome }} — {{ .Site.Title }}{{ end }}">
  <meta property="og:site_name" content="{{ .Site.Title }}">
  <meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else if .IsPage }}{{ .Summary }}{{ else }}{{ .Site.Params.description }}{{ end }}">

  {{ $options := (dict "targetPath" "/css/bootstrap.css" "outputStyle" "compressed") }}
  {{ $style := resources.Get "custom.scss" | resources.ToCSS $options | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}"  integrity="{{ $style.Data.Integrity }}">

  {{ $acps := resources.Get "acps.scss" }}
  {{ $options := (dict "targetPath" "/css/acps.css" "outputStyle" "compressed") }}
  {{ $style := $acps | resources.ExecuteAsTemplate "acps.scss" . | resources.ToCSS $options | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}"  integrity="{{ $style.Data.Integrity }}">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

  <link rel="shortcut icon" href="{{ $.Site.Params.cloudinary_base_url }}/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ $.Site.Params.cloudinary_base_url }}/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ $.Site.Params.cloudinary_base_url }}/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ $.Site.Params.cloudinary_base_url }}/favicon-16x16.png">
</head>
