<!-- Static navbar -->
<nav class="navbar fixed-top navbar-expand-md navbar-dark navigation-clean">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="https://res.cloudinary.com/gqdmtaegmix3/image/upload/v1531946979/acps/acps-logo-white.svg" height="60" width="60"alt="Home" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h4 class="text-light d-none d-xl-block ">Anderson's Creek Primary School</h4>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="nav navbar-nav ml-auto">
        <li class="dropdown nav-item mr-2 mr-lg-4">
          <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">
            <i class="fa fa-info-circle mr-1"></i> Our school</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" role="presentation" href="/our-school/our-story.html">Our story</a></li>
            <li><a class="dropdown-item" role="presentation" href="/our-school/principals-welcome.html">Principal's welcome</a></li>
            <li><a class="dropdown-item" role="presentation" href="/our-school/facilities.html">Facilities</a></li>
            <li><a class="dropdown-item" role="presentation" href="/our-school/school-council.html">School Council</a></li>
            <li><a class="dropdown-item" role="presentation" href="/policies/">Policies</a></li>
            <li><a class="dropdown-item" role="presentation" href="/publications/">Publications</a></li>
            <li><a class="dropdown-item" role="presentation" href="/our-school/term-dates.html">Term dates</a></li>
            <li><a class="dropdown-item" role="presentation" href="/our-school/contact-us.html">Contact us</a></li>
          </ul>
        </li>
        <li class="dropdown nav-item mr-2 mr-lg-4">
          <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">
            <i class="fa fa-user-graduate mr-1"></i> Learning</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" role="presentation" href="/learning/vision.html">Vision</a></li>
              <li><a class="dropdown-item" role="presentation" href="/learning/leadership.html">Leadership</a></li>
              <li><a class="dropdown-item" role="presentation" href="/learning/sustainability.html">Sustainability</a></li>
              <li><a class="dropdown-item" role="presentation" href="/learning/preps.html">Preps</a></li>
              <li><a class="dropdown-item" role="presentation" href="/learning/grades-1-2.html">Grades 1&2</a></li>
              <li><a class="dropdown-item" role="presentation" href="/learning/grades-3-4.html">Grades 3&4</a></li>
              <li><a class="dropdown-item" role="presentation" href="/learning/grades-5-6.html">Grades 5&6</a></li>
              <li><a class="dropdown-item" role="presentation" href="/learning/naplan.html">NAPLAN</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown mr-2 mr-lg-4">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-users mr-1"></i> Community</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li>
                <a class="dropdown-item dropdown-toggle" href="#">Students</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/events/">Upcoming events</a></li>
                  <li><a class="dropdown-item" href="/calendar/">School calendar</a></li>
                  <li><a class="dropdown-item" href="/news/">Latest news</a></li>
                  <li><a class="dropdown-item" href="/newsletters/">Newletters</a></li>
                  <li><a class="dropdown-item" href="/contact-us.html">Contact us</a></li>
              </ul>
            </li>
            <li>
              <a class="dropdown-item dropdown-toggle" href="#">Parents</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" role="presentation" href="/policies/">Policies</a></li>
                  <li><a class="dropdown-item" role="presentation" href="/publications/">Publications</a></li>
                  <li><a class="dropdown-item" role="presentation" href="/our-school/term-dates.html">Term dates</a></li>
                  <li><a class="dropdown-item" role="presentation" href="/our-school/contact-us.html">Contact us</a></li>
                </ul>
              </li>
              <li>
                <a class="dropdown-item dropdown-toggle" href="#">Future parents</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" role="presentation" href="/policies/">Policies</a></li>
                  <li><a class="dropdown-item" role="presentation" href="/publications/">Publications</a></li>
                  <li><a class="dropdown-item" role="presentation" href="/our-school/term-dates.html">Term dates</a></li>
                  <li><a class="dropdown-item" role="presentation" href="/our-school/contact-us.html">Contact us</a></li>
              </ul>
            </li>
            <li><a class="dropdown-item dropdown-toggle" href="#">Local community</a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="/our-school/term-dates.html">Term dates</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/our-school/policies.html">Policies</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="dropdown nav-item mr-2 mr-lg-4">
          <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">
            <i class="fa fa-calendar-alt mr-1"></i> Events
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" role="presentation" href="/events/">Upcoming events</a></li>
            <li><a class="dropdown-item" role="presentation" href="/calendar/">Calendar</a></li>
          </ul>
        </li>
        <li class="dropdown nav-item mr-2 mr-lg-4">
          <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">
            <i class="fa fa-newspaper mr-1"></i> News</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" role="presentation" href="/news/">Latest news</a></li>
              <li><a class="dropdown-item" role="presentation" href="/newsletters/">Newsletters</a></li>
            </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
