    <!-- End Hero Section -->
    <div class="container-fluid px-2 py-1 bg-dark">
      <div class="container">
      <div class="row align-items-center g-5 py-5">
        <div class="col-md-6 text-md-start text-center">
        <a href="/"><img class="w-md-75 w-sm-50 w-75" src="{{ $.Site.Params.cloudinary_base_url }}/logos/acps-logo-reverse-rgb.svg" alt="Anderson's Creek Primary School logo"></a>
        </div>
        <div class="col-md-6 text-md-end text-center"> 
            <a class="btn btn-light btn-transition me-2" href="/our-school/enrolments/"><i class="bi bi-pencil me-3"></i>Enrolments</a>
            <a class="btn btn-light btn-transition ms-2" href="/our-school/contact-us/"><i class="bi bi-chat-right-text me-3"></i>Contact us</a>
        </div>
      </div>
      </div>
    </div>
<hr class="m-0">
<header id="header" class="navbar navbar-expand-lg navbar-end navbar-dark bg-dark">
  <div class="container">
    <nav class="js-mega-menu navbar-nav-wrap">
      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-default">
          <i class="bi-list"></i>
        </span>
        <span class="navbar-toggler-toggled">
          <i class="bi-x"></i>
        </span>
      </button>
      <!-- End Toggler -->

      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
                    <!-- Home -->
                    <li class="hs-has-sub-menu nav-item">
                      <a id="homeMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Home</a>
                      <!-- Mega Menu -->
                      <div class="hs-sub-menu dropdown-menu" aria-labelledby="homeMegaMenu" style="min-width: 14rem;">
                        <a class="dropdown-item" href="/">Home</a>
                      </div>
                      <!-- End Mega Menu -->
                    </li>
                    <!-- End Home -->
          <!-- Our school -->
          <li class="hs-has-sub-menu nav-item">
            <a id="ourschoolMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Our School</a>

            <!-- Mega Menu -->
            <div class="hs-sub-menu dropdown-menu" aria-labelledby="ourschoolMegaMenu" style="min-width: 14rem;">
              <a class="dropdown-item" href="/our-school/principals-welcome/">Principal's welcome</a>
              <a class="dropdown-item" href="/our-school/story/">Our story</a>
              <a class="dropdown-item" href="/our-school/facilities/">Our facilities</a>
              <a class="dropdown-item" href="/our-school/school-uniform/">School uniform</a>
              <a class="dropdown-item" href="/our-school/school-council/">School Council</a>
              <a class="dropdown-item" href="/our-school/grounds-map/">Grounds map</a>
              <a class="dropdown-item" href="/policies/">Policies</a>
              <a class="dropdown-item" href="/forms/">Forms</a>
              <a class="dropdown-item" href="/publications/">Publications</a>
            </div>
            <!-- End Mega Menu -->
          </li>
          <!-- End Our school-->

          <!-- Learning-->
          <li class="hs-has-sub-menu nav-item">
            <a id="learningMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Learning</a>

            <!-- Mega Menu -->
            <div class="hs-sub-menu dropdown-menu" aria-labelledby="learningMegaMenu" style="min-width: 14rem;">
              <a class="dropdown-item" href="/learning/curriculum/">Our curriculum</a>
              <a class="dropdown-item" href="/learning/leadership/">Leadership</a>
              <a class="dropdown-item" href="/learning/sustainability/">Sustainability</a>
              <a class="dropdown-item" href="/learning/foundation/">Foundation</a>
              <a class="dropdown-item" href="/learning/grades-1-2/">Grades 1&2</a>
              <a class="dropdown-item" href="/learning/grades-3-4/">Grades 3&4</a>
              <a class="dropdown-item" href="/learning/grades-5-6/">Grades 5&6</a>
              <a class="dropdown-item" href="/learning/naplan/">NAPLAN</a>
            </div>
            <!-- End Mega Menu -->
          </li>
          <!-- End Learning -->

          <!-- Community -->
          <li class="hs-has-sub-menu nav-item">
            <a id="communityMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Community</a>

            <!-- Mega Menu -->
            <div class="hs-sub-menu dropdown-menu" aria-labelledby="communityMegaMenu" style="min-width: 14rem;">
              <a class="dropdown-item" href="/community/parental-involvement/">Parental involvement</a>
              <a class="dropdown-item" href="/community/oshc/">OSHC</a>
              <a class="dropdown-item" href="/community/canteen/">Canteen</a>
            </div>
            <!-- End Mega Menu -->
          </li>
          <!-- End Pages -->

          <!-- Events -->
          <li class="hs-has-sub-menu nav-item">

            <a id="eventsMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Events</a>

            <!-- Mega Menu -->
            <div class="hs-sub-menu dropdown-menu" aria-labelledby="eventsMegaMenu" style="min-width: 14rem;">
              <a class="dropdown-item" href="/events/term-dates/">Term dates</a>
              <a class="dropdown-item" href="/events/school-calendar/">School calendar</a>
            </div>
            <!-- End Mega Menu -->
          </li>
          <!-- End Events -->

          <!-- News -->
          <li class="hs-has-sub-menu nav-item">
            <a id="newsMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">News</a>

            <!-- Mega Menu -->
            <div class="hs-sub-menu dropdown-menu" aria-labelledby="newsMegaMenu" style="min-width: 14rem;">
              <a class="dropdown-item" href="https://www.facebook.com/AndersonsCreekPS" target="_blank" rel="noopener">Facebook</a>
              <a class="dropdown-item" href="https://newsletters.naavi.com/p/pN34rJq/archive" target="_blank" rel="noopener">Newsletters</a>
            </div>
            <!-- End Mega Menu -->
          </li>
          <!-- End News -->
        </ul>
      </div>
      <!-- End Collapse -->
    </nav>
  </div>
</header>
<hr class="white m-0">
