    <section id="news-events" class="bg-light">
        <div class="container-fluid p-0 m-0">
            <div class="row no-gutters">
              <div class="col-lg-6  order-lg-2 my-0 py-0" style="background-image: url('https://res.cloudinary.com/gqdmtaegmix3/image/upload/c_fill,g_auto,q_auto,f_auto,w_600,e_sharpen/v1544837886/acps/20180810-092410.jpg'); min-height:45rem; background-size: cover;"></div>
                          <div class="col-lg-6 p-4 order-lg-1">
                            <h2 class="text-center pt-4 pb-2">Upcoming events</h2>
                            <ul class="timeline timeline-simple">

                  <li class="timeline-inverted">
                    <div class="timeline-badge bg-primary primary">
                      <i class="fa fa-calendar-alt m-auto text-light"></i>
                    </div>
                    <div class="timeline-panel">
                      <div class="timeline-heading">
                        <span class="badge badge-primary ps-2">Monday, December 17</span>
                      </div>
                      <h5><a href="#">Family carols night</a></h5>
                      <div class="timeline-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et lacinia eros, non mollis tellus. Nunc eleifend pellentesque suscipit. Phasellus aliquam efficitur purus, ac sodales mauris facilisis consequat.</p>
                      </div>
                    </div>
                  </li>
                  <li class="timeline-inverted">
                    <div class="timeline-badge bg-primary primary">
                      <i class="fa fa-calendar-alt text-light"></i>
                    </div>
                    <div class="timeline-panel">
                      <div class="timeline-heading">
                        <span class="badge badge-primary">Tuesday, December 18</span>
                      </div>
                      <h5><a href="#">Grade 6 graduation</a></h5>
                      <div class="timeline-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et lacinia eros, non mollis tellus. Nunc eleifend pellentesque suscipit. Phasellus aliquam efficitur purus, ac sodales mauris facilisis consequat.</p>
                      </div>
                    </div>
                  </li>
                  <li class="timeline-inverted">
                    <div class="timeline-badge bg-primary primary">
                      <i class="fa fa-calendar-alt"></i>
                    </div>
                    <div class="timeline-panel">
                      <div class="timeline-heading">
                        <span class="badge badge-primary">Thursday, December 20</span>
                      </div>
                      <h5><a href="#">End of year class parties</a></h5>
                      <div class="timeline-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et lacinia eros, non mollis tellus. Nunc eleifend pellentesque suscipit. Phasellus aliquam efficitur purus, ac sodales mauris facilisis consequat.</p>
                      </div>
                    </div>
                  </li>
                </ul></div>
              <div class="col-lg-6 my-0 py-0 order-lg-3" style="background-image: url('https://res.cloudinary.com/gqdmtaegmix3/image/upload/c_fill,g_auto,q_auto,f_auto,w_600,e_sharpen/v1544837717/acps/20180526-083159.jpg'); min-height:45rem; background-size: cover;"></div>
              <div class="col-lg-6 p-4 order-lg-4">
                <h2 class="text-center pt-4 pb-2">Latest news</h2>
                <ul class="timeline timeline-simple">

      <li class="timeline-inverted">
        <div class="timeline-badge bg-primary primary">
          <i class="fa fa-newspaper"></i>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <span class="badge badge-primary">7 days ago</span>
          </div>
          <h5><a href="#">Grade 5 and 6 surf day</a></h5>
          <div class="timeline-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et lacinia eros, non mollis tellus. Nunc eleifend pellentesque suscipit. Phasellus aliquam efficitur purus, ac sodales mauris facilisis consequat.</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-badge bg-primary primary">
          <i class="fa fa-newspaper"></i>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <span class="badge badge-primary">3 weeks ago</span>
          </div>
          <h5><a href="#">Bop til you drop disco</a></h5>
          <div class="timeline-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et lacinia eros, non mollis tellus. Nunc eleifend pellentesque suscipit. Phasellus aliquam efficitur purus, ac sodales mauris facilisis consequat.</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-badge bg-primary primary">
          <i class="fa fa-newspaper"></i>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <span class="badge badge-primary">1 month ago</span>
          </div>
          <h5><a href="#">Prep orientation</a></h5>
          <div class="timeline-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et lacinia eros, non mollis tellus. Nunc eleifend pellentesque suscipit. Phasellus aliquam efficitur purus, ac sodales mauris facilisis consequat.</p>
          </div>
        </div>
      </li>
    </ul>


              </div>
            </div>
        </div>
    </section>
