<!-- Swiper -->
<div class="js-swiper-autoplay swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img class="img-fluid w-100" src="https://res.cloudinary.com/andersonscreekps/q_60,f_auto,e_sharpen/v1548900307/assets/img/1920x1080/20201029-122618.jpg" alt="Image Description">
    </div>
    <div class="swiper-slide">
      <img class="img-fluid w-100" src="https://res.cloudinary.com/andersonscreekps/q_60,f_auto,e_sharpen/v1548900307assets/img/1920x1080/20201105-115737.jpg" alt="Image Description">
    </div>
    <div class="swiper-slide">
      <img class="img-fluid w-100" src="https://res.cloudinary.com/andersonscreekps/q_60,f_auto,e_sharpen/v1548900307/assets/img/1920x1080/20180810-095841.jpg" alt="Image Description">
    </div>
    <div class="swiper-slide">
      <img class="img-fluid w-100" src="https://res.cloudinary.com/andersonscreekps/q_60,f_auto,e_sharpen/v1548900307/assets/img/1920x1080/20190807-104641.jpg" alt="Image Description">
    </div>
    <div class="swiper-slide">
      <img class="img-fluid w-100" src="https://res.cloudinary.com/andersonscreekps/q_60,f_auto,e_sharpen/v1548900307/assets/img/1920x1080/20180810-090920.jpg" alt="Image Description">
    </div>
    <div class="swiper-slide">
      <img class="img-fluid w-100" src="https://res.cloudinary.com/andersonscreekps/q_60,f_auto,e_sharpen/v1548900307/assets/img/1920x1080/20190911-191925.jpg" alt="Image Description">
    </div>
    <div class="swiper-slide">
      <img class="img-fluid w-100" src="https://res.cloudinary.com/andersonscreekps/q_60,f_auto,e_sharpen/v1548900307/assets/img/1920x1080/20190912-114206.jpg" alt="Image Description">
    </div>
    <div class="swiper-slide">
      <img class="img-fluid w-100" src="https://res.cloudinary.com/andersonscreekps/q_60,f_auto,e_sharpen/v1548900307/assets/img/1920x1080/20200610-104725.jpg" alt="Image Description">
    </div>
  </div>

  <!-- Arrows -->
  <div class="js-swiper-autoplay-button-next"></div>
  <div class="js-swiper-autoplay-button-prev"></div>
</div>
<!-- End Swiper -->

<!-- Swiper Pagination -->
<div class="js-swiper-autoplay-pagination swiper-pagination">
</div>