{{ "<!-- Welcome -->" | safeHTML }}
<section id="welcome" class="py-4 my-4 py-sm-5 my-sm-5 bg-white">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-9 mx-auto" >
        <h1 class="mb-5 text-center">{{ .Params.welcome_title }}</h1>
        {{ .Params.welcome_text| markdownify }}
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mt-5 mx-auto">
        <div class="form-row justify-content-center">
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-2 mb-md-0"><a class="btn btn-primary btn-block btn-lg" href="{{ .Params.welcome_button_1.url }}">{{ .Params.welcome_button_1.title }}</a></div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-6"><a class="btn btn-primary btn-block btn-lg" href="{{ .Params.welcome_button_2.url }}">{{ .Params.welcome_button_2.title }}</a></div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ "<!-- End Welcome -->" | safeHTML }}
