<section id="welcome" class="py-4 my-4 py-sm-5 my-sm-5 bg-white">
        <div class="container">
            <div class="row">
                <div class="col-md-9 mx-auto" >
                    <h1 class="mb-5 text-center">Welcome to Anderson's Creek Primary School</h1>
                    <p>
Welcome to a school that is an integral part of the local Warrandyte Community. Every day at Anderson's Creek is a great learning experience for children as they are empowered to be their best through strong relationships between teachers, peers and the community.</p><p>
At Anderson's Creek we believe in every child, every day. Children are nurtured and cared for in a quality learning environment. Our whole school Values Program focuses on Respect, Optimism, Honesty and Integrity, creating a positive and happy school that children can thrive in.</p>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mt-5 mx-auto">
                        <div class="form-row justify-content-center">
                            <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-2 mb-md-0"><a class="btn btn-primary btn-block btn-lg" href="our-story.html">Read our story</a></div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-6"><a class="btn btn-primary btn-block btn-lg" href="enrol.html">Enrol now</a></div>
                        </div>
                </div>
            </div>
        </div>
    </section>
