{{ "<!-- Welcome -->" | safeHTML }}
<div class="container w-lg-75 content-space-1">
  <div class="text-center mx-md-auto mb-3 mb-md-5">
    <h1 class="display-4">Anderson's Creek Primary School</h1>
  </div>

  <div class="mx-md-auto">
    <p class="lead">
      Welcome to a school that is an integral part of the local Warrandyte
      Community. Every day at Anderson’s Creek is a great learning experience
      for children as they are empowered to be their best through strong
      relationships between teachers, peers and the community.
    </p>
    <p class="lead">
      At Anderson’s Creek we believe in every child, every day. Children are
      nurtured and cared for in a quality learning environment. Our whole school
      Values Program focuses on Respect, Optimism, Honesty and Integrity,
      creating a positive and happy school that children can thrive in.
    </p>
    <div class="pt-3 text-center">
      <button type="button" class="btn btn-primary btn-lg me-5">
        <i class="bi bi-map me-3"></i>Book a tour</button
      ><button type="button" class="btn btn-primary btn-lg ms-5">
        <i class="bi bi-pencil me-3"></i>Enrol now
      </button>
    </div>
  </div>
</div>
{{ "<!-- End Welcome -->" | safeHTML }}
