{{ "<!-- Why choose our school -->" | safeHTML }}
<div class="container">
  <div class="text-center mx-md-auto mb-5">
    <h2 class="display-6">{{ .Params.why_title}}</h2>
  </div>
  <div class="mx-auto">
    <div class="row">
      {{ range .Params.features}}
      <div class="col-md-6 p-3" data-aos="fade-up">
        <div class="card card-transition h-100">
          <div class="card-body">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <span class="svg-icon text-primary">
                  {{.icon_svg | safeHTML}}
                </span>
              </div>
              <div class="flex-grow-1 ms-4">
                <h2 class="card-title mt-0">{{.title}}</h2>
                <p class="card-text text-body">{{.description}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>
{{ "<!-- End Why choose our school -->" | safeHTML }}
