<section class="features-icons bg-white">
  <div class="container">
    <div class="row" style="margin-bottom: 60px;">
      <div class="col-12 col-lg-8 mx-auto">
	<h2 class="text-center mb-4">Why choose our school?</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Praesent et lacinia eros, non mollis tellus. Nunc eleifend pellentesque suscipit. Phasellus aliquam efficitur purus, ac sodales mauris facilisis consequat.</p><p>Curabitur euismod fringilla molestie. Cras sit amet fermentum augue, sit amet dictum ipsum. Sed nec mi id libero luctus maximus. Praesent dapibus mauris augue, non accumsan dui viverra at. Praesent vehicula quam tellus, sit amet finibus turpis iaculis nec. Nam ac dictum risus.</p>

      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-6 col-lg-4">
	<div class="mx-auto features-icons-item mb-5">
	  <div class="d-flex features-icons-icon"><i class="fas fa-user-graduate m-auto text-primary" data-bs-hover-animate="pulse"></i></div>
	  <h4>Our students</h4>
	  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus finibus finibus egestas. Cras ut justo urna</p>
	</div>
      </div>
      <div class="col-md-6 col-lg-4">
	<div class="mx-auto features-icons-item mb-5">
	  <div class="d-flex features-icons-icon"><i class="fas fa-chalkboard-teacher m-auto text-primary" data-bs-hover-animate="pulse"></i></div>
	  <h4>Our staff</h4>
	  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus finibus finibus egestas. Cras ut justo urna</p>
	</div>
      </div>
      <div class="col-md-6 col-lg-4">
	<div class="mx-auto features-icons-item mb-5">
	  <div class="d-flex features-icons-icon"><i class="fas fa-users m-auto text-primary" data-bs-hover-animate="pulse"></i></div>
	  <h4>Our community</h4>
	  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus finibus finibus egestas. Cras ut justo urna</p>
	</div>
      </div>
      <div class="col-md-6 col-lg-4">
	<div class="mx-auto features-icons-item mb-5">
	  <div class="d-flex features-icons-icon"><i class="fas fa-thumbs-up m-auto text-primary" data-bs-hover-animate="pulse"></i></div>
	  <h4>Our values</h4>
	  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus finibus finibus egestas. Cras ut justo urna</p>
	</div>
      </div>
      <div class="col-md-6 col-lg-4">
	<div class="mx-auto features-icons-item mb-5">
	  <div class="d-flex features-icons-icon"><i class="fas fa-leaf m-auto text-primary" data-bs-hover-animate="pulse"></i></div>
	  <h4>Our sustainability</h4>
	  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus finibus finibus egestas. Cras ut justo urna</p>
	</div>
      </div>
      <div class="col-md-6 col-lg-4">
	<div class="mx-auto features-icons-item mb-5">
	  <div class="d-flex features-icons-icon"><i class="fas fa-building m-auto text-primary" data-bs-hover-animate="pulse"></i></div>
	  <h4>Our facilities</h4>
	  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus finibus finibus egestas. Cras ut justo urna</p>
	</div>
      </div>
    </div>
  </div>
</section>
