<section class="features-icons bg-white">
  <div class="container">
    <div class="row" style="margin-bottom: 60px;">
      <div class="col-12 col-lg-8 mx-auto">
	<h2 class="text-center mb-4">Why choose our school?</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Praesent et lacinia eros, non mollis tellus. Nunc eleifend pellentesque suscipit. Phasellus aliquam efficitur purus, ac sodales mauris facilisis consequat.</p><p>Curabitur euismod fringilla molestie. Cras sit amet fermentum augue, sit amet dictum ipsum. Sed nec mi id libero luctus maximus. Praesent dapibus mauris augue, non accumsan dui viverra at. Praesent vehicula quam tellus, sit amet finibus turpis iaculis nec. Nam ac dictum risus.</p>
      </div>
    </div>
    <div class="row text-center">
       {{ range .Params.features}}
      <div class="col-md-6 col-lg-4">
	<div class="mx-auto features-icons-item mb-5">
    <div class="d-flex features-icons-icon"><i class="fas fa-{{ .icon }} m-auto text-primary" data-bs-hover-animate="pulse"></i></div>
    <h4>{{ .title }}</h4>
    <p class="mb-0">{{ .description }}</p>
	</div>
      </div>
      {{  end }}
      </div>
    </div>
  </div>
</section>
