{{ define "header" }}
<div class="container-fluid px-0">
	<img class="fluid w-100" src="https://res.cloudinary.com/andersonscreekps/image/upload/v1639459986/banners/20211021-081453-404-not-found.jpg">
</div>
{{ end }}

{{ define "main" }}

<section id="welcome" class="py-4 my-4 py-sm-5 my-sm-5 bg-white">
  <div class="container">
    <div class="row">
      <div class="col-md-9 mx-auto" >
      <h2 class="mb-5 text-center">The page you were looking for could not be found</h2>
      </div>
    </div>
  </div>
</section>

{{ end }}
