footer a,
footer a:visited,
footer ul {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
footer a:hover {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}

/* main h1, main h2, main h3, main h4, main h5 { color: rgb(0,45,98); } */
main h1, main h2, main h3, main h4, main h5 { margin-top: 1em; margin-bottom: 0.25em; font-family:Roboto Slab,serif; }
main p, main ul, main a, main a:hover { color: rgb(58,58,58); font-family:Open Sans,san-serif }
main p a, main li a { text-decoration: underline; text-decoration-skip-ink: auto; } 

main h2.card-title { margin-top: 0em; }

/* https://blog.logrocket.com/jank-free-page-loading-with-media-aspect-ratios/ */
main img {
  width: 100%;
  height: auto;
  aspect-ratio: attr(width) / attr(height);
}

/* Timeline */

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.badge:empty {
  display: none;
}

.btn .badge {
  position: relative;
  top: -1px;
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

.badge-primary {
  color: #ffffff;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
  color: #ffffff;
  text-decoration: none;
}

.badge {
  border-radius: 12px;
  padding: 5px 12px;
  text-transform: uppercase;
  font-size: 10px;
  color: rgb(255, 255, 255);
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
  margin-top: 30px;
}

.timeline:before {
  top: 50px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #E5E5E5;
  left: 50%;
  margin-left: -1px;
}

.timeline h5 {
  margin: 10px 0px;
}

.timeline.timeline-simple {
  margin-top: 30px;
  padding: 0 0 20px;
}

.timeline.timeline-simple:before {
  left: 5%;
  background-color: rgba(0, 0, 0, 0.14)
}

.timeline.timeline-simple > li > .timeline-panel {
  width: 86%;
}

.timeline.timeline-simple > li > .timeline-badge {
  left: 5%;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before, .timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 45%;
  float: left;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  border-radius: 6px;
  color: rgba(0,0,0, 0.87);
  background: #fff;
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #333;
  border-right: 0 solid rgba(0, 0, 0, 0.14);
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 51px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -24px;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline > li > .timeline-badge.primary {
  background-color: #007bff;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
}

.timeline > li > .timeline-badge [class^="ti-"],
.timeline > li > .timeline-badge [class*=" ti-"],
.timeline > li > .timeline-badge [class="material-icons"] {
  line-height: inherit;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  background-color: #fff;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-heading {
  margin-bottom: 15px;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body hr {
  margin-top: 10px;
  margin-bottom: 5px;
}

.timeline-body .btn {
  margin-bottom: 0;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p {
  margin-top: 15px;
}

.timeline-body > p + p {
  margin-top: 5px;
}

[class*="col-"].cards {
  float: left;
}
