<!doctype html>
<html lang="en">
  {{- partial "head.html" . -}}
  <body>
    {{- partial "nav.html" . -}}
    {{if not .IsHome}}
      {{- partial "header.html" . -}}
    {{end}}
    <div class="alert alert-danger text-center m-4" role="alert">This is a development website - the official school website is at <a href="http://www.andersonscreekps.vic.edu.au/">http://www.andersonscreekps.vic.edu.au/</a></div>
    <main>{{- block "main" . }}{{- end }}</main>
    {{- partial "footer.html" . -}}
    {{- partial "foot.html" . -}}
  </body>
</html>
