<div class="row">
<div class="col-md-6">
<figure class="figure mb-5">
  <img src="{{ $.Site.Params.cloudinary_base_url }}/{{ $.Site.Params.image_transforms }}{{ .Get 0 }}" class="figure-img img-fluid rounded border border-2 shadow-sm bg-white mx-auto d-block p-1 mt-3 mb-2" alt="{{ .Get 1 }}">
  <figcaption class="figure-caption text-center">{{ .Get 1 }}</figcaption>
</figure>
</div>
<div class="col-md-6">
<figure class="figure mb-5">
  <img src="{{ $.Site.Params.cloudinary_base_url }}/{{ $.Site.Params.image_transforms }}{{ .Get 2 }}" class="figure-img img-fluid rounded border border-2 shadow-sm bg-white mx-auto d-block p-1 mt-3 mb-2" alt="{{ .Get 3 }}">
  <figcaption class="figure-caption text-center">{{ .Get 3 }}</figcaption>
</figure>
</div>
</div>
