{{ $src_1 := .Get "src_1" }}
{{ $transformed_src_1 := replace $src_1 "upload" $.Site.Params.upload_image_transforms }}

{{ $src_2 := .Get "src_2" }}
{{ $transformed_src_2 := replace $src_2 "upload" $.Site.Params.upload_image_transforms }}

<div class="row">
<div class="col-md-6">
<figure class="figure mb-5">
  <img src=" $transformed_src_1 " class="figure-img img-fluid rounded border border-2 shadow-sm bg-white mx-auto d-block p-1 mt-3 mb-2" alt="{{ .Get "alt_1" }}">
  <figcaption class="figure-caption text-center">{{ .Get "caption_1" }}</figcaption>
</figure>
</div>
<div class="col-md-6">
<figure class="figure mb-5">
  <img src=" $transformed_src_2 " class="figure-img img-fluid rounded border border-2 shadow-sm bg-white mx-auto d-block p-1 mt-3 mb-2" alt="{{ .Get "alt_2" }}">
  <figcaption class="figure-caption text-center">{{ .Get "caption_2" }}</figcaption>
</figure>
</div>
</div>
