{{ "<!-- Events & Updates -->" | safeHTML }}
<section id="events-updates" class="mt-10">
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col-lg-6 p-4 order-lg-1">
  <div class="text-center mx-md-auto mb-7">
    <h2 class="display-6">{{ .events_title }}</h2>
  </div>
      </div>
      <div class="col-lg-6 p-4 order-lg-4">
  <div class="text-center mx-md-auto mb-7">
    <h2 class="display-6">{{ .updates_title }}</h2>
  </div>
      </div>
    </div>
  </div>
</section>
{{ "<!-- End Events & Updates -->" | safeHTML }}
